<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>redditclone</title>
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
  <header>
    <h2> MyFavoriteRecipe!</h2>
    <ul>
      <li><a href="/">Recipes</a></li>
      <li><a href="/recipes">New Recipe</a></li>
  </ul>
  </header>

  {{#each links}}
<section class="myLinks">
   <form class="add" method="post" action="/add/{{id}}?_method=PUT">
    <input type="hidden" name="vote" value="{{vote}}">
    <button class="up">&#8593;</button>
   </form>

   <h2 class="vote">{{vote}}</h2>

   <form class="subtract" method="post" action="/subtract/{{id}}?_method=PUT">
     <input type="hidden" name="vote" value="{{vote}}">
     <button class="down">&#8595;</button>
   </form>

  <a class="link" href="{{links}}"><p>{{title}}</p></a>
</section>

  {{/each}}

<footer>
  <small> Reddit Clone</small>
</footer>

  </body>
</html>
